{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["import", "@typescript-eslint/eslint-plugin", "simple-import-sort"],
  "extends": ["plugin:import/recommended", "plugin:@typescript-eslint/recommended"],
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~", "./src"],
          ["@dtos", "../dtos"]
        ],
        "extensions": [".json", ".js", ".ts"]
      }
    }
  },
  "rules": {
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          ["^(path|fs|stream|util)$"],
          ["^@nest", "^[a-z]"],
          ["^[A-Z]"],
          ["^@dtos/", "^~/"],
          ["^../"],
          ["^./"]
        ]
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "overrides": [
    {
      "files": "src/sql/migrations/*.ts",
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}
