{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },

  "env": {
    "node": true
  },

  // prettier-ignore
  "plugins": [
    "import",
    "simple-import-sort",
    "@typescript-eslint/eslint-plugin"
  ],

  // prettier-ignore
  "extends": [
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],

  "settings": {
    "import/resolver": {
      "typescript": {},
      "alias": {
        "map": [
          ["~", "./src"],
          ["@dtos", "../dtos"]
        ],
        "extensions": [".json", ".js", ".ts"]
      }
    }
  },

  "rules": {
    "sort-imports": "off",

    "import/order": "off",
    "import/no-named-as-default-member": "off",

    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          ["^(path|fs|stream|util)$"],
          ["^@nest", "^[a-z]"],
          ["^[A-Z]"],
          ["^@dtos/", "^~/"],
          ["^../"],
          ["^./"]
        ]
      }
    ],

    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "overrides": [
    {
      "files": "src/sql/migrations/*.ts",
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}
